.menu{
	border:1px solid black;
}

.presentation{
	margin-top:5%;
	border:1px solid black;
}	

.article{
	margin-top:5%;
	border:1px solid black;
}

.footer{
	margin-top:5%;
	border:1px solid black;
}